@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

html, body, div, span, h1, h2, p, ul, li, a, img {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    color: #000;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    padding-bottom: 10px;
    margin: 0px;
    line-height: 1.2;
}

#wrap {
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    font-style: normal;
}

a:link, a:visited {
    color: #0088cc;
}

a:hover, a:active {
    color: #fff;
    background-color: #0088cc;
}

.title {
    margin-top: 50px;
    margin-bottom: 15px;
}

h1 {
    font-size: 200%;
}

.subtitle {
    font-size: 85%;
}

.item {
    margin-top: 1px;
    margin-bottom: 1px;
}
